<nav class="navbar navbar-inverse"> 
 	<div class="container-fluid"> 
 		<div class="navbar-header"> 
  			<button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false"> 
	  			<span class="sr-only">Toggle navigation</span> 
	  				<span class="icon-bar"></span> 
	  				<span class="icon-bar"></span> 
	  				<span class="icon-bar"></span> 
	  		</button> 
	  		<a href="#" style="color: red" class="navbar-brand">Noteflix</a> 
	  	</div> 
	  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9"> 
	  		<ul class="nav navbar-nav"> 
	  			<li class="active"><a href="#">Home</a></li> 
	  			<li><a href="#">Favourites</a></li> 
	  			<li></li> 
	  		</ul>  
	  		<form class="navbar-form navbar-right">
        		<div class="form-group">
          			<input type="text" class="form-control" placeholder="Search">
        		</div>
        			<button type="submit" class="btn btn-default">Submit</button>
      		</form>
	  	</div> 
	</div> 
</nav>	

<slick dots="true" infinite="false" speed="300" slides-to-show="5" touch-move="false" slides-to-scroll="1">
  ...
<div><img src="http://lorempixel.com/200/200/nature/"></div>
  <div><img src="http://lorempixel.com/200/200/fashion/"></div>
  <div><img src="http://lorempixel.com/200/200/sports/"></div>
  <div><img src="http://lorempixel.com/200/200/animal/"></div>
  <div><img src="http://lorempixel.com/200/200/abstract/"></div>
  <div><img src="http://lorempixel.com/200/200/people/"></div>
</slick>  
<div class="container">
  <section id="row1">
    <h1 class="sectionTitle">Continue Watching...</h1>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">Movie 1</a>
 	</div>
    <div class="examples">
      <ul class="img-list">
        <li class="image">
          <a href="#">
            <img id="box1" src="http://placehold.it/280x150" width="280" height="150" />
            <span class="text-content"><span>Title Here...<br><br>
                <i class="fa fa-4x  fa-play-circle-o"></i>
                <br><br>
                <i class="fa fa-chevron-down" onclick="openNav()" aria-hidden="true"></i>
              </span>
            </span>
          </a>
        </li>
        <li class="image">
          <a href="#">
            <img src="http://placehold.it/280x150" width="280" height="150" />
            <span class="text-content">
              <span>Title Here...<br><br>
                <i class="fa fa-4x  fa-play-circle-o"></i>
                <br><br><i class="fa fa-chevron-down" aria-hidden="true"></i>
              </span>
            </span>
          </a>
        </li>
        <li class="image">
          <a href="#">
            <img src="http://placehold.it/280x150" width="280" height="150" />
            <span class="text-content">
              <span>Title Here...<br><br>
                <i class="fa fa-4x  fa-play-circle-o"></i>
                <br><br>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <br><br>
  <section id="row2">
    <h1 class="sectionTitle">TV Series</h1>
    <div class="examples">
      <ul class="img-list">
        <li class="image">
          <a href="#">
            <img src="http://placehold.it/280x150" width="280" height="150" />
            <span class="text-content"><span>Title Here...<br><br>
                <i class="fa fa-4x  fa-play-circle-o"></i><br><br>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </span>
            </span>
          </a>
        </li>
        <li class="image">
          <a href="#">
            <img src="http://placehold.it/280x150" width="280" height="150" />
            <span class="text-content"><span>Title Here...<br><br>
                <i class="fa fa-4x  fa-play-circle-o"></i>
                <br><br>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </span>
            </span>
          </a>
        </li>
        <li class="image">
          <a href="#">
            <img src="http://placehold.it/280x150" width="280" height="150" />
            <span class="text-content">
              <span>Title Here...<br><br>
                <i class="fa fa-4x  fa-play-circle-o"></i>
                <br><br>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <br><br>
  <h1 class="sectionTitle">Movies</h1>
  <div class="examples">
    <ul class="img-list">
      <li class="image">
        <a href="#">
          <img src="http://placehold.it/280x150" width="280" height="150" />
          <span class="text-content">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
            <br><br>
            <i class="fa fa-4x  fa-play-circle-o"></i>
            <br><br>
            Title Here...
          </span>
        </a>
      </li>
      <li class="image">
        <a href="#">
          <img src="http://placehold.it/280x150" width="280" height="150" />
          <span class="text-content">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
            <br><br>
            <i class="fa fa-4x  fa-play-circle-o"></i>
            <br><br>
            Title Here...</span>
        </a>
      </li>
      <li class="image">
        <a href="#">
          <img src="http://placehold.it/280x150" width="280" height="150" />
          <span class="text-content">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
            <br><br>
            <i class="fa fa-4x  fa-play-circle-o"></i>
            <br><br>
            Title Here...
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>