<app-movie-search (click)="movieHide()"></app-movie-search>

<div class="container" #arrayMovies>
  <div  *ngFor="let movie of movies " class="card u-clearfix">
    <div class="card-media">
      <img class="img" src="{{movie['img']}}" alt=""
           class="card-media-img" />

      <span class="card-media-tag card-media-tag-orange">{{movie["genre"]}}</span>
    </div>

    <div class="card-body">
      <h2 class="card-body-heading">{{movie["title"]}}</h2>
      <br />
      <h4 class="card-body-heading">{{movie["director"]}}</h4>
      <div class="card-body-options">

      <a routerLink="/detail/{{movie.id}}" class="card-button card-button-cta"> More info </a>
    </div>
  </div>
</div>
</div>
<button type="button" class="allMovies" (click)="seeAllMovies()">Show all movies </button>
