<app-movie-search (click)="movieHide()"></app-movie-search>

<div class="container" #arrayMovies>
  <div  *ngFor="let movie of movies " class="card u-clearfix">
    <div class="card-media">
      <img class="img" src="{{movie['img']}}" alt=""
           class="card-media-img" />
      <div class="card-media-preview u-flex-center">
        <svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M8 5v14l11-7z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </div>
      <span class="card-media-tag card-media-tag-orange">{{movie["genre"]}}</span>
    </div>

    <div class="card-body">
      <h2 class="card-body-heading">{{movie["title"]}}</h2>
      <br />
      <h4 class="card-body-heading">{{movie["director"]}}</h4>
      <div class="card-body-options">

      <a routerLink="/detail/{{movie.id}}" class="card-button card-button-cta"> More info </a>
    </div>
  </div>
</div>
</div>
<button type="button" class="allMovies" (click)="seeAllMovies()">Se all movies </button>
