

<div class="basic-container">
  



  
    <mat-form-field>
      <mat-select [formControl]="movieCtrl" placeholder="Movie" #singleSelect >
        <ngx-mat-select-search  [placeholderLabel]="'Find movie...'" 
                       [noEntriesFoundLabel]="'No matching movie found'" 
                       [formControl]="movieFilterCtrl" ></ngx-mat-select-search>
        <mat-option *ngFor="let movie of filteredMovies | async" [value]="movie" (click)="movieShow()">
          {{movie.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  


  
</div>

<div class="basic-container">
  



  
    <mat-form-field>
      <mat-select [formControl]="movieCtrl" placeholder="Director" #singleSelect>
        <ngx-mat-select-search  [placeholderLabel]="'Find director...'" 
                       [noEntriesFoundLabel]="'No matching director found'" 
                       [formControl]="movieFilterCtrl"></ngx-mat-select-search>
        <mat-option *ngFor="let movie of filteredMovies | async" [value]="movie" (click)="movieShow()">
          {{movie.director}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
 

  
</div>

<div class="basic-container">
  



  
    <mat-form-field>
      <mat-select [formControl]="movieCtrl" placeholder="Genre" #singleSelect>
        <ngx-mat-select-search  [placeholderLabel]="'Find genre...'" 
                       [noEntriesFoundLabel]="'No matching genre found'" 
                       [formControl]="movieFilterCtrl"></ngx-mat-select-search>
        <mat-option *ngFor="let movie of filteredMovies | async" [value]="movie" (click)="movieShow()">
          {{movie.genre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
 

  
</div>

 <ul   #arrayMovies >
                <li *ngFor="let movie of movies">
                  <p>Title: {{movie["title"]}}</p>
                  <p>Director: {{movie["director"]}}</p>
                  <p>Genre: {{movie["genre"]}}</p>
                </li>
       </ul>
  
  <ul class="display-none" #arrayMoviesSearch>
                <li>
                  <p>Title:  {{movieCtrl.value?.title}}</p>
                  <p>Director: {{movieCtrl.value?.director}}</p>
                  <p>Genre:  {{movieCtrl.value?.genre}}</p>
                </li>
               </ul>
               
                <mat-checkbox  (click)="movieShowAll()">See all movies</mat-checkbox>
  
